
    <!--<div class="jumbotron jumbotron-fluid">-->
        <!--<h1>Bootstrap </h1>-->
        <!--<p>Bootstrap is the most popular HTML, CSS, and JS framework for developing responsive, mobile-first projects on the web.</p>-->
        <!--<button class="btn btn-info" ng-click="openModal('loginModal.tmpl.html')">Login</button>-->
        <!--<button class="btn btn-info" ng-click="openModal('registrationModal.tmpl.html')">Register</button>-->
<!--</div>-->
    <div class="jumbotron jumbotron-fluid jumbo-view">
        <div class="container">
            <h1 class="display-3">Fluid jumbotron</h1>
            <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
            <button class="btn btn-info" ng-click="openModal('loginModal.tmpl.html')">Login</button>
            <button class="btn btn-info" ng-click="openModal('registrationModal.tmpl.html')">Register</button>
        </div>
    </div>

<!--Registration Modal-->
<script type="text/ng-template" id="registrationModal.tmpl.html" >
    <div ng-controller="RegisterController" click-outside="close">
        <div class="modal-header">
            <h3>Registration</h3>
        </div>
        <div class="modal-body">
            <div ng-class="{ 'alert': flash, 'alert-success': flash.type === 'success', 'alert-danger': flash.type === 'error' }" ng-if="flash" ng-bind="flash.message"></div>
            <!-- create our form -->
            <div ng-hide="registrationSuccess">
            <form name="userForm" ng-submit="register()"novalidate>
                <div class="row">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-8">
                <!-- name field -->
                <div class="form-group" ng-class="{ 'has-error': userForm.name.$touched && userForm.name.$invalid }">
                    <label class="control-label">Name</label>
                    <input type="text" name="name" value="jmlozano"class="form-control"
                           ng-model="user.userName"
                           ng-minlength="5"
                           ng-maxlength="20"
                           required>

                    <!-- ngMessages goes here -->
                    <div class="help-block" ng-messages="userForm.name.$error" ng-show="userForm.name.$touched">
                        <div ng-messages-include="messages/messages.html"></div>
                    </div>
                </div>

                <!-- email field -->
                <div class="form-group" ng-class="{ 'has-error': userForm.email.$touched && userForm.email.$invalid }">
                    <label class="control-label">Email</label>
                    <input type="email" name="email" class="form-control"
                           ng-model="user.email"
                           ng-minlength="5"
                           ng-maxlength="40"
                           required>

                    <!-- ngMessages goes here -->
                    <div class="help-block" ng-messages="userForm.email.$error" ng-show="userForm.email.$touched">
                        <div ng-messages-include="messages/messages.html"></div>
                    </div>
                </div>


                <!-- password field -->
                <div class="form-group" ng-class="{ 'has-error': userForm.password.$touched && userForm.password.$invalid }">
                    <label class="control-label" >Password</label>
                    <input type="password" name="password" class="form-control"
                           ng-model="user.password"
                           ng-minlength="5"
                           ng-maxlength="20"
                           required>

                    <!-- ngMessages goes here -->
                    <div class="help-block" ng-messages="userForm.password.$error" ng-show="userForm.password.$touched">
                        <div ng-messages-include="messages/messages.html"></div>
                    </div>
                </div>


                <!-- password field -->
                <div class="form-group" ng-class="{ 'has-error': userForm.confirmPassword.$touched && userForm.confirmPassword.$invalid }">
                    <label class="control-label" >Confirm Password</label>
                    <input type="password" name="confirmPassword" class="form-control"
                           ng-model="user.confirmPassword"
                           ng-minlength="5"
                           ng-maxlength="20"
                           compare-to="user.password"
                           required>

                    <!-- ngMessages goes here -->
                    <div class="help-block" ng-messages="userForm.confirmPassword.$error" ng-show="userForm.confirmPassword.$touched">
                        <div ng-messages-include="messages/messages.html"></div>
                    </div>
                </div>

                    </div>
                    <div class="col-lg-2"></div>
                </div>
                <!-- modal footer-->
                <div class="modal-footer">
                    <div class="form-group">
                        <button type="submit" ng-disabled="userForm.$invalid" class="btn btn-info"><span ng-show="dataLoading == true" class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>&nbsp;&nbsp;Submit</button>
                        <button type="button" class="btn btn-danger" ng-click="close()" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </form>

        </div>
        </div>
        <div ng-show="registrationSuccess">
            <div class="modal-footer">
                <div class="form-group">
                    <button type="button" class="btn btn-danger" ng-click="close()" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</script>

<!-- End Registration Modal-->



<!--Login and Reset Password Modal-->
<script type="text/ng-template" id="loginModal.tmpl.html" >
    <div ng-controller="LoginController">

        <div ng-hide="requestReset">
            <div class="modal-header">
                <h3><span class="glyphicon glyphicon-log-in"></span>&nbsp;&nbsp;&nbsp;Login </h3>
            </div>

            <div class="modal-body">

                        <div class="responseFromServer" ng-class="{ 'alert': flash, 'alert-success': flash.type === 'success', 'alert-danger': flash.type === 'error' }" ng-if="flash" ng-bind="flash.message"></div>
                <div class="row">
                    <div class="col-lg-7">
                        <form  name="formLogin" ng-submit="login()" role="form" novalidate>


                            <div class="form-group" ng-class="{ 'has-error': formLogin.email.$touched && (formLogin.email.$error.required || formLogin.email.$error.email || formLogin.email.$error.maxlength)}"show-errors='{showSuccess: true}'>
                                <label class="control-label" for="email">Email</label>
                                <input type="email" name="email" id="email" class="form-control" ng-model="email"  required ng-maxlength="40" />

                                <!-- ngMessages goes here -->
                                <div class="help-block" ng-messages="formLogin.email.$error" ng-show="formLogin.email.$touched">
                                    <div ng-messages-include="messages/messages.html"></div>
                                </div>
                               </div>


                            <div class="form-group" ng-class="{ 'has-error': formLogin.password.$touched && (formLogin.password.$error.required || formLogin.password.$error.minlength || formLogin.password.$error.maxlength)}">
                                <label class="control-label" for="password">Password</label>
                                <input type="password" name="password" id="password" class="form-control" ng-model="password" required  ng-minlength="5" ng-maxlength="20" />
                                <!-- ngMessages goes here -->
                                <div class="help-block" ng-messages="formLogin.password.$error" ng-show="formLogin.password.$touched">
                                    <div ng-messages-include="messages/messages.html"></div>
                                </div>

                                <!--<span ng-show="formLogin.password.$touched && formLogin.password.$error.required" class="help-block">Password is required</span>-->
                            </div>
                    </div>
                    <div class="col-lg-5 ">
                        <div id="socialBtns">
                            <a  class="btn btn-block btn-social btn-google">
                                <span class="fa fa-google"></span> Sign in with Google
                            </a>

                            <a class="btn btn-block btn-social btn-microsoft">
                                <span class="fa fa-windows"></span>  Sign in with Microsoft
                            </a>

                            <a class="btn btn-block btn-social btn-github">
                                <span class="fa fa-github"></span> Sign in with GitHub
                            </a>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <div class="form-actions">
                        <a id="forgotPassword" ng-href ng-click="forgotPassword()">forgot password</a>
                        <button ng-click="login()" ng-disabled="formLogin.$invalid || vm.dataLoading" class="btn btn-primary">Login</button>
                        <button type="button" class="btn btn-danger" ng-click="close()" data-dismiss="modal">Close</button>                  </button>
                    </div>
                </div>
                </form>
            </div>
        </div>


        <div ng-show="requestReset">


            <div class="modal-header">
                <h3>Request Reset Password </h3>
            </div>

            <div class="modal-body">


                <div ng-class="{ 'alert': flash, 'alert-success': flash.type === 'success', 'alert-danger': flash.type === 'error' }" ng-if="flash" ng-bind="flash.message"></div>
                <div class="row">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xm-2"></div>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xm-8">
                <form  name="formForgotPassword" ng-submit="requestResetPassword()" role="form" novalidate>
                    <div ng-hide="responseResquestPasswordSuccess" class="form-group" ng-class="{ 'has-error': formForgotPassword.email.$touched && formForgotPassword.email.$error.required || formForgotPassword.email.$error.email || formForgotPassword.email.$error.maxlength}"show-errors='{showSuccess: true}'>
                        <label class="control-label" for="email">Email</label>
                        <input type="email" name="email" id="email" class="form-control" ng-model="email" required  ng-maxlength="40"/>

                        <!-- ngMessages goes here -->
                        <div class="help-block" ng-messages="formForgotPassword.email.$error" ng-show="formForgotPassword.email.$touched">
                            <div ng-messages-include="messages/messages.html"></div>
                        </div>

                    </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xm-2"></div>
                </div>
                    <div class="modal-footer">
                        <div class="form-actions">
                            <button ng-hide="responseResquestPasswordSuccess" ng-click="requestResetPassword()" ng-disabled="formForgotPassword.$invalid || vm.dataLoading" class="btn btn-primary">
                                <span ng-show="requestingPassword" class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
                                &nbsp;&nbsp;Submit
                            </button>
                            <button type="button" class="btn btn-danger" ng-click="close()" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</script>

<!--End Login and Reset Password Modal-->


<!--Activation Token Error Modal-->
<script type="text/ng-template" id="loginAfterEmailConfirmationModalTokenExpired.tmpl.html" >
    <div ng-controller="LoginController">
        <div class="modal-header">
            <h3>Activation Account Error</h3>
        </div>

        <div class="modal-body">
            <div class="responseFromServer" ng-class="{ 'alert': flash, 'alert-success': flash.type === 'success', 'alert-danger': flash.type === 'error' }" ng-if="flash" ng-bind="flash.message"></div>

            <form name="form" ng-submit="resendActivationMail()" role="form">
                <div ng-hide="resendActivationMailSuccess" class="form-group" ng-class="{ 'has-error': form.email.$dirty && form.email.$error.required }">
                    <label for="email">Email</label>
                    <input type="text" name="email" id="email" class="form-control" ng-model="emailJson.email" required />
                    <span ng-show="form.email.$dirty && form.email.$error.required" class="help-block">Email is required</span>
                </div>
                <div class="modal-footer">
                    <div class="form-actions">
                        <button ng-hide="resendActivationMailSuccess" type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-primary">Request New Token</button>
                        <button type="button" class="btn btn-danger" ng-click="close()" data-dismiss="modal">Close</button>                  </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</script>

<!--end ActivationLoginError Modal-->


<!--Activation Account Error Modal-->
<script type="text/ng-template" id="activationAccountError.tmpl.html" >
    <div ng-controller="LoginController">
        <div class="modal-header">
            <h3>Activation Account Error</h3>
        </div>

        <div class="modal-body">
            <div ng-class="{ 'alert': flash, 'alert-success': flash.type === 'success', 'alert-danger': flash.type === 'error' }" ng-if="flash" ng-bind="flash.message"></div>
            <div class="modal-footer">
                <div class="form-actions">
                    <button type="button" class="btn btn-danger" ng-click="close()" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</script>
<!--End Activation Error Modal-->







<script type="text/ng-template" id="loginAfterEmailConfirmationModalNoSuchModal.tmpl.html" >
    <div ng-controller="LoginController">
        <div class="modal-header">
            <h3>AToken Error</h3>
        </div>

        <div class="modal-body">
            <div ng-class="{ 'alert': flash, 'alert-success': flash.type === 'success', 'alert-danger': flash.type === 'error' }" ng-if="flash" ng-bind="flash.message"></div>

            <h2>Token Does not exist</h2>
            <div class="modal-footer">
                <div class="form-actions">
                    <button type="button" class="btn btn-danger" ng-click="close()" data-dismiss="modal">Close</button>                  >
                </div>
            </div>
        </div>
    </div>
</script>


<script type="text/ng-template" id="sendresetpasswordModal.tmpl.html" >

        <div class="modal-header">
            <h3>Reset Password </h3>
        </div>
        <div class="modal-body">
            <div class="responseFromServer"  ng-class="{ 'alert': flash, 'alert-success': flash.type === 'success', 'alert-danger': flash.type === 'error' }" ng-if="flash" ng-bind="flash.message"></div>
            <!-- create our form -->

            <form name="resetPasswordForm" ng-submit="resetPassword(password,confirmPassword)"novalidate>

                <div class="row">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-8">
                        <div ng-hide="passwordReseted">
                        <!-- password field -->
                <div class="form-group" ng-class="{ 'has-error': resetPasswordForm.password.$touched && resetPasswordForm.password.$invalid }">
                    <label class="control-label">Password</label>
                    <input type="password" name="password" class="form-control"
                           ng-model="password"
                           ng-minlength="5"
                           ng-maxlength="20"
                           required >

                    <!-- ngMessages goes here -->
                    <div class="help-block" ng-messages="resetPasswordForm.password.$error" ng-show="resetPasswordForm.password.$touched">
                        <div ng-messages-include="messages/messages.html"></div>
                    </div>
                </div>


                <!-- confirm password field -->
                <div class="form-group" ng-class="{ 'has-error': resetPasswordForm.confirmPassword.$touched && resetPasswordForm.confirmPassword.$invalid }">
                    <label class="control-label">Confirm Password</label>
                    <input type="password" name="confirmPassword" class="form-control"
                           ng-model="confirmPassword"
                           ng-minlength="5"
                           ng-maxlength="20"
                           compare-to="password"
                           required >

                    <!-- ngMessages goes here -->
                    <div class="help-block" ng-messages="resetPasswordForm.confirmPassword.$error" ng-show="resetPasswordForm.confirmPassword.$touched">
                        <div ng-messages-include="messages/messages.html"></div>
                    </div>
                </div>
                    </div>
                    </div>
                <div class="col-lg-2"></div>
                </div>


                <!-- modal footer-->
                <div class="modal-footer">
                    <div class="form-group">
                        <button ng-hide="passwordReseted" type="submit" ng-disabled="resetPasswordForm.$invalid " class="btn btn-info"><span ng-show="resetPasswordSubmit" class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
                            &nbsp;&nbsp;Submit
                        </button>
                        <button ng-click="close()" class="btn btn-danger">
                            Close
                        </button>
                    </div>
                </div>
            </form>

        </div>

</script>